RaCA-SOC-a-spectrum-analysis/RaCA-SOC-a/run-RaCA-SOC-a_step5.ipynb
RaCA-SOC-a-spectrum-analysis/RaCA-SOC-a/run-RaCA-SOC-a_step9.ipynb
.ipynb_checkpoints/
./.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
*.icloud
*.DS_Store
*.pkl
